<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/general.html :: cabecera('Lista Responsables')">
    </head>
    <body>
        <main>
            <div class="container px-4 py-5">
                <h1 class="pb-2 border-bottom">Lista de Responsables</h1>
                <div class="d-flex mt-3 mb-4">
                    <a class="btn btn-primary" th:href="@{'/responsable/new'}">Nuevo Responsable</a>
                    <a class="btn btn-secondary ms-auto" th:href="@{'/'}">Regresar</a>
                </div>
                <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>

                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Nombre del responsable</th>
                        <th></th>
                    </tr>
                    <tr th:each="responsable, info : ${listaResponsables}">
                        <td th:text="${info.index + 1}"></td>
                        <td th:text="${responsable.nombre}"></td>
                        <td><a class="btn btn-danger" th:href="@{'/responsable/delete' + '?id=' + ${responsable.id}}">Borrar</a>
                        </td>
                    </tr>
                </table>
            </div>
        </main>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>