<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Lista de Contactos</title>
</head>
<body>
<div class="container">
    <h1>Lista de Contactos en TeleVet</h1>
    <a class="btn btn-primary mt-4 mb-4" th:href="@{'/contacto/new'}">Nuevo Contacto</a>
    <a class="btn btn-secondary ms-auto" th:href="@{'/'}">Pagina Principal</a>
    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nombre Contacto</th>
            <th>Correo</th>
            <th>Dirección</th>
            <th>Telefono</th>
            <th>Mascotas</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cuenta, info : ${listaContacto}">
            <td th:text="${info.index + 1}"></td>
            <td th:text="${cuenta.correo}"></td>
            <td th:text="${cuenta.direccion}"></td>
            <td th:text="${cuenta.telefono}"></td>
            <td><a class="btn btn-primary" th:href="@{'/contacto/editar' + '?id=' + ${cuenta.id}}">Editar</a>
            </td>
            <td><a class="btn btn-danger" th:href="@{'/mascota/lista'}">Ver mas</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>