<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: cabecera('Lista Servicios')">
</head>
<body>
<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 border-bottom">Lista de servicios</h1>
        <div class="d-flex mt-3 mb-4">
            <a class="btn btn-primary" th:href="@{'/servicio/nuevocrear'}">Crear servicio</a>
            <a class="btn btn-secondary ms-auto" th:href="@{'/'}">Regresar</a>
        </div>
        <div class="alert alert-success" role="alert" th:if="${(msg != null) && (msg == '0')}">
            <strong>Servicio creado con éxito</strong>
        </div>
        <div class="alert alert-success" role="alert" th:if="${(msg != null) && (msg == '1')}">
            <strong>Servicio actualizado con éxito</strong>
        </div>

        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Servicio</th>
                <th>Mascota</th>
                <th>Precio</th>
                <th>Hora inicio</th>
                <th>Duración</th>
                <th>Responsable</th>
                <th>Entrega</th>
                <th></th>
            </tr>
            <tr th:each="opserv,i : ${listaOpServ}">
                <td th:text="${i.index + 1}"></td>
                <td th:text="${opserv.idopcion.descripcion}"></td>
                <td th:text="${opserv.idservicio.idmascota.nombre}"></td>
                <td th:text="${opserv.idopcion.precio}"></td>
                <td th:text="${opserv.idservicio.horainicio}"></td>
                <td th:text="${opserv.idservicio.duracion} + min"></td>
                <td th:text="${opserv.idservicio.idresponsable.nombre}"></td>
                <td th:text="${opserv.idservicio.entrega}"></td>
                <td>
                    <a class="btn btn-success" th:href="@{'/servicio/editar?id=' + ${opserv.id}}">Editar
                    </a>
                </td>
            </tr>
    </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>