<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <style>
            .contenedor{
                position: relative;
                display: inline-block;
                text-align: center;
            }
            .texto-encima{
                position: absolute;
                top: 10px;
                left: 10px;
            }
            .centrado{
                position: absolute;
                top: 20%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        </style>
    </head>
    <body class="container my-3">
        <div class="contenedor" >
        <a th:href="@{/}">
            <img th:src="@{/img/mascotas.jpg}" width="50%"  class="d-inline-block align-top" alt="" loading="lazy">
            <div class="centrado"><h1 class="my-3">Candy&Crash</h1></div>
        </a>

        </div>
        <div class="col-3">
            <a class="btn btn-primary mb-3" th:href="@{/mascota}">Lista de Mascota</a><br/>
            <a class="btn btn-primary mb-3" th:href="@{/contacto}">Contacto y/o Dueño</a>
            <a class="btn btn-primary mb-3" th:href="@{/servicio}">Servicio</a>
            <a class="btn btn-primary mb-3" th:href="@{/responsable}">Nuevo Responsable</a>
        </div>


    </body>
</html>