<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Nueva Mascota</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body class="container">
        <h2 th:text="${mascota.idmascota == 0? 'Nueva Mascota' : 'Editar Mascota'}">Nueva Mascota</h2>
        <hr/>

        <form method="post" th:action="@{/mascota/save}" th:object="${mascota}">
            <input th:if="*{idmascota != 0 }" type="hidden" th:field="*{idmascota}" />
            <div class="form-row">
                <div class="col-md-8 mb-4">
                    <div class="form-group">
                        <label  class="small mb-1">Nombre</label>
                        <input class="form-control" th:field="*{nombre}">
                    </div>
                </div>
                <div class="col-md-8 mb-4">
                    <div class="form-group">
                        <label  class="small mb-1">Año</label>
                        <input class="form-control" th:field="*{anho}">

                    </div>
                </div>
                <div class="col-md-8 mb-4">
                    <div class="form-group">
                        <label class="small mb-1">Historia</label>
                        <input class="form-control" th:field="*{historia}">
                    </div>
                </div>
                <div class="col-md-8 mb-4">
                    <div class="form-group">
                        <label class="small mb-1">Observaciones</label>
                        <input class="form-control" th:field="*{observaciones}">
                    </div>
                </div>
                <div class="col-md-8 mb-4">
                    <div class="form-group">
                        <label  class="small mb-1">Sexo</label>
                        <input class="form-control" th:field="*{sexo}" placeholder="Femenino o Masculino">

                    </div>
                </div>

                <div class="col-md-8 mb-4">
                    <div class="mb-3">
                        <label class="form-label">Raza</label>
                        <select class="form-control" th:field="*{raza_especie.idraza}">
                            <option th:each="raza : ${listaRaza}" th:value="${raza.idraza}"
                                    th:text="${raza.descripcion}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group mt-4">
                    <a th:href="@{/mascota/lista}" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </div>
        </form>
        <br>

    </body>
</html>